body {
    padding: 0;
    margin: 0;
    background-color: #495057;
}

#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#toolbar {
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: #CED4DA;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: flex;
    width: 70vw;
    height: 90vh;
    background-color: white;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 1 0;
}

.grid-pixel {
    display: flex;
    flex: 1 1 0;
    border: solid 1px whitesmoke;
}

#generate-grid-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100px;
    height: 80px;
    border-radius: 10%;
    border: none;
    font-size: 12pt;
}